.chart-section {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 900px;
  margin-top: 6rem;
  place-self: center;
  translate: 0 150px;
  scale: 0.5;
  opacity: 0.5;
  transition: translate 0.7s, scale 0.7s, opacity 0.7s;
}

.chart-section.active {
  translate: 0 0;
  scale: 1;
  opacity: 1;
}
.chart-header {
  text-align: center;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: var(--fw-700);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chart-year {
  align-self: center;
  display: flex;
  gap: 1rem;
  margin-block: 1.5rem;
}

.year-btn {
  font-size: 1.5rem;
  color: var(--font-color);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.year-btn-active {
  box-shadow: 0 0 4px 1.5px #6358d4;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
}

.chart-container {
  height: 480px;
  width: 100%;
  position: relative;
}

.chart-section p {
  display: none;
  color: var(--font-color);
  font-size: 0.9rem;
}

@media (min-width: 450px) {
  .chart-section {
    width: 90%;
  }

  .chart-wrapper {
    gap: 0.5rem;
  }

  .chart-section p {
    display: block;
  }
}

@media (min-width: 750px) {
  .chart-section {
    margin-top: 8rem;
    width: 85%;
  }

  .chart-wrapper {
    gap: 1rem;
  }

  .chart-container {
    height: 500px;
  }
}

@media (min-width: 1000px) {
  .chart-section {
    width: 75%;
  }

  .chart-container {
    height: 650px;
  }

  .chart-header {
    font-size: 1.4rem;
  }
}
