.chart-section {
  width: 95%;
  max-width: 900px;
  margin-top: 3rem;
  padding-top: 2rem;

  place-self: center;

  border-top: 1px solid var(--form-separator);
}

.chart-header {
  text-align: center;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: var(--fw-700);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
}

.chart-container {
  height: 450px;
  width: 100%;
  position: relative;
}

.chart-section p {
  display: none;
  color: var(--font-color);
  font-size: 0.9rem;
}

@media (min-width: 450px) {
  .chart-section {
    width: 90%;
  }

  .chart-wrapper {
    gap: 0.5rem;
  }

  .chart-section p {
    display: block;
  }
}

@media (min-width: 750px) {
  .chart-section {
    width: 85%;
  }

  .chart-wrapper {
    gap: 1rem;
  }

  .chart-container {
    height: 600px;
  }
}

@media (min-width: 1000px) {
  .chart-section {
    width: 75%;
  }

  .chart-header {
    font-size: 1.4rem;
  }
}
