/*FORM*/

.form {
  place-self: center;
  width: 95%;
  font-size: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.form-light {
  color: var(--color-neutral-900);
}

.form-dark {
  color: var(--color-primary-100);
}

.form-question {
  font-size: 1.05rem;
  font-weight: 500;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  padding: 0 0.25rem;
}

/* .months-container span {
  font-size: 1rem;
  font-weight: 500;
} */

span > .months-payment {
  font-weight: 700;
}

.months-container--light::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: translateY(0.5rem);
  background-color: rgba(0, 0, 0, 0.1);
}

.months-container--dark::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: translateY(0.5rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 0 0.25rem;
}

.input-container--light::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: translateY(0.5rem);
  background-color: rgba(0, 0, 0, 0.1);
}

.input-container--dark::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: translateY(0.5rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.shifts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

/*BUTTONS*/

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  align-self: center;
}

.form-btns {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 0.25rem;
  width: 50%;
  min-width: 100px;
  transition: border-color 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
}

.form-btns--light {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-600);
  border: 2px solid var(--color-neutral-900);
}

.form-btns--dark {
  color: var(--color-neutral-900);
  background-color: var(--color-primary-300);
  border: 2px solid var(--color-neutral-900);
}

.reset-btn--light {
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-50);
  border: 2px solid var(--color-neutral-900);
}

.reset-btn--dark {
  background-color: var(--color-neutral-800);
  color: var(--color-primary-200);
  border: 2px solid var(--color-primary-200);
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
  .shifts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    align-items: center;
  }
}

@media (min-width: 500px) {
  .button-container {
    margin-top: 0.5rem;
    width: 80%;
  }
}
@media (min-width: 750px) {
  .form {
    padding: 1rem 1rem;
    font-size: 1.15rem;
    gap: 1.5rem;
  }

  .input-container::after {
    transform: translateY(0.75rem);
  }

  .months-container::after {
    transform: translateY(0.75rem);
  }
}

@media (hover: hover) {
  .form-btns--light:hover {
    color: var(--color-neutral-50);
    background-color: var(--color-primary-700);
    border-color: var(--color-primary-800);
  }

  .form-btns--dark:hover {
    background-color: var(--color-neutral-800);
    color: var(--color-primary-600);
    border-color: var(--color-primary-600);
  }

  .reset-btn--light:hover {
    color: var(--color-neutral-50);
    background-color: var(--color-primary-700);
    border-color: var(--color-primary-800);
  }

  .reset-btn--dark:hover {
    border-color: var(--color-primary-600);
    color: var(--color-primary-600);
  }
}
