/*FORM*/

.form-section {
  justify-self: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 900px;
  /*box-shadow: 0px 10px 125px 0.5px var(--color-primary-700);*/
  box-shadow: 0 0 125px 10px rgba(203, 137, 250, 0.4);
}

.form-card {
  width: 100% !important;
}

.form {
  color: var(--font-color);
  place-self: center;
  width: 95%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.form-question {
  color: var(--font-color);
  font-size: 1rem;
  font-weight: var(--fw-500);
  margin-bottom: 0.5rem;
}

.time-selector {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 0.85rem 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.months-payment {
  font-weight: var(--fw-700);
}

.has-errors {
  border-color: var(--color-warning) !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.25rem;
}

.input-container::after {
  content: '';
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: translateY(0.25rem);

  background-color: var(--form-separator);
}

.shifts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

/*BUTTONS*/

.button-container {
  padding-top: 0.25rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  align-self: center;
}

.form-btns {
  font-size: 1.15rem;
  padding: 0.5rem 0.25rem;
  width: 50%;
  min-width: 100px;
  color: var(--btn-primary-fcolor);
  border: transparent;
  background: linear-gradient(
    360deg,
    var(--color-primary-700),
    var(--color-primary-800)
  );
  transition: border-color 0.2s ease, color 0.2s ease,
    background-color 0.2s ease, box-shadow 0.2s ease;
}

.reset-btn {
  color: var(--btn-secondary-fcolor);
  background: transparent;
  border: 3px solid var(--color-primary-700);
}

/* MEDIA QUERIES */

@media (min-width: 450px) {
  .form-section {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .time-selector {
    grid-template-columns: 50px 1fr 50px 1fr;
  }

  .shifts {
    display: grid;
    grid-template-columns: 1fr minmax(65px, 0.5fr) 1fr minmax(65px, 0.5fr);
    gap: 0.75rem 1.2rem;
    align-items: center;
  }

  .button-container {
    margin-top: 0.5rem;
    width: 80%;
  }

  .form-question {
    font-size: 1.05rem;
  }
}

@media (min-width: 700px) {
  .months-container {
    flex-direction: row;
  }

  .form-section {
    width: 85%;
  }
}

@media (min-width: 850px) {
  .shifts {
    gap: 0.5rem 1.5rem;
  }
  .form {
    padding: 2.5rem 1rem;
    gap: 1.5rem;
  }

  .input-container::after {
    transform: translateY(0.75rem);
  }

  .months-container::after {
    transform: translateY(0.75rem);
  }
}

@media (hover: hover) {
  .form-btns:hover {
    box-shadow: var(--btn-shadow);
  }
}

@media (min-width: 1000px) {
  .form-section {
    width: 75%;
  }
}
