.detail-title {
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  font-weight: var(--fw-light-bold);
}

.detail-description {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--font-color);
  font-weight: var(--fw-normal);
}
