.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*width="381.4" height="100" viewBox="0 0 381.4 100"*/
/*26.21%* --> height / width */

.logo {
  --width: 10;
  width: calc(1rem * var(--width));
  height: calc(1rem * (var(--width) * 0.2621));
  fill: var(--logo-fill-color);
}

@media (min-width: 450px) {
  .logo {
    --width: 11;
  }
}

@media (min-width: 750px) {
  .logo {
    --width: 12;
  }
}
