.selection {
  font-size: 0.9rem;
  font-weight: var(--fw-500);
  outline: transparent;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  max-width: 220px;
  cursor: pointer;
  color: var(--font-color);
  background-color: var(--input-bgcolor);
  border: 2px solid var(--input-border-color);
  transition: background-color 0.2s;
}

.option {
  background-color: var(--month-option-bgcolor);
  font-weight: var(--fw-700);
}

@media (min-width: 600px) {
  .selection {
    font-size: 1.05rem;
  }
}
