.nav-header {
  position: fixed;
  background-color: var(--nav-bgcolor);
  z-index: 99;
  height: 4rem;
  opacity: 0.97;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 1.75px var(--card-shadow);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

@media (min-width: 450px) {
  .nav-header {
    position: relative;
  }
}

@media (min-width: 1250px) {
  .nav-header {
    height: 4rem;
  }
}
