.month-option {
  font-weight: 500;
  cursor: pointer;
}

.month-light {
  background-color: var(--color-neutral-50);
  font-weight: 600;
}
.month-dark {
  background-color: var(--color-neutral-900);
}
