.months {
  font-size: 1rem;
  font-weight: 500;
  outline: transparent;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: var(--font-color);
  background-color: var(--input-bgcolor);
  border: 2px solid var(--input-border-color);
}

.option {
  background-color: var(--month-option-bgcolor);
  font-weight: 700;
  font-weight: var(--fw-bold);
}
