.header {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 800px;
  justify-self: center;
  margin: 2rem 0 1.5rem 0;
  padding-top: 4.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: var(--fw-900);
  color: transparent;
  background-clip: text;
  background: var(--title-gradient);
  -webkit-background-clip: text;
}

.fingers {
  width: 2rem;
  height: 2rem;
  animation: what 3s infinite;
}

.cumple {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: var(--fw-900);
  place-self: center;
  text-align: center;
}

@keyframes what {
  0% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  50% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
}

@media (min-width: 350px) {
  .fingers {
    width: 2.5rem;
    height: 2.5rem;
  }

  .cumple {
    font-size: 0.9rem;
    padding-inline: 0.4rem;
  }
}

@media (min-width: 450px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 0;
  }
  .title {
    letter-spacing: 1.5px;
    font-size: 1.75rem;
  }

  .fingers {
    width: 2.5rem;
    height: 2.5rem;
  }
  .cumple {
    font-size: 1rem;
    padding-inline: 0.4rem;
  }
}

@media (min-width: 750px) {
  .title {
    font-size: 2.25rem;
  }

  .fingers {
    width: 3rem;
    height: 3rem;
  }

  .cumple {
    font-size: 1.25rem;
    padding-inline: 0.4rem;
  }
}

@media (min-width: 1000px) {
  .header {
    width: 75%;
  }
}
