.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 90%;
  max-width: 750px;
  justify-self: center;
  margin: 2rem 0 3rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  background: var(--title-gradient);
  -webkit-background-clip: text;
}

.fingers {
  width: 2rem;
  height: 2rem;
  animation: what 3s infinite;
}

@keyframes what {
  0% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  50% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
}

@media (min-width: 350px) {
  .fingers {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 450px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    gap: 1.5rem;
  }
  .title {
    font-size: 1.35rem;
    letter-spacing: 1.5px;
    font-weight: 700;
  }

  .fingers {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 750px) {
  .title {
    font-size: 1.75rem;
  }

  .header {
    width: 80%;
  }

  .fingers {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1000px) {
  .header {
    width: 70%;
  }
}

@media (min-width: 1250px) {
  .header {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .header {
    width: 50%;
  }
}
