.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  justify-self: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;

  color: var(--color-primary-200);
}

.fingers {
  width: 2rem;
  height: 2rem;
}

/* 
@keyframes guienso {
  0% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  50% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: bottom left;
    transform: rotate(12deg);
  }
  100% {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
} */

@media (min-width: 350px) {
  .title {
    font-size: 1.5rem;
  }
  .fingers {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 450px) {
  .title {
    letter-spacing: 0.15rem;
    font-weight: 600;
  }

  .header {
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (min-width: 750px) {
  .header {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .header {
    width: 70%;
  }

  .title {
    font-size: 2rem;
  }
}

@media (min-width: 1250px) {
  .header {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .header {
    width: 50%;
    max-width: 700px;
  }
}
