.form {
  justify-self: center;
  width: 100%;
  margin-top: 1rem;
  color: var(--color-primary-100);
  font-size: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.form-question {
  font-weight: 500;
}

.input {
  background-color: var(--color-neutral-800);
  color: var(--color-primary-100);
  border: var(--color-primary-200) 2px solid;
  outline: none;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  max-width: 80px;
  transition: all 0.3s ease;
}

.input:focus {
  transform: scale(1.15);
}

.input.error {
  outline: magenta;
  border: 2.5px solid var(--color-warning);
  transition: all 0.5s;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  padding: 0 0.25rem;
}

.months-container::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 0.25px;
  transform: translateY(1rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 0 0.25rem;
}

.input-container::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 0.5px;
  transform: translateY(1rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.shifts {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.form-btns {
  border: 2px solid var(--color-neutral-900);
  background-color: var(--color-primary-200);
  color: var(--color-neutral-900);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 0.25rem;
  width: 50%;
  min-width: 100px;
}

/* .form-btns:hover {
  background-color: var(--color-neutral-800);
  color: var(--color-primary-200);
  border: 2px solid var(--color-primary-200);
} */
