.logo {
  font-family: "Dancing Script", cursive;
  color: var(--color-primary-400);
  font-size: 5rem;
  text-align: center;
  transform: rotate(-8deg);
  margin-bottom: 3rem;
  width: 90%;
  justify-self: center;
}

@media (min-width: 750px) {
  .logo {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .logo {
    width: 70%;
    margin-bottom: 1rem;
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1500px) {
  .logo {
    font-size: 7.5rem;
  }
}
