.logo-container {
  margin-top: 1rem;
  width: 80%;
  place-self: center;
  display: grid;
  margin-bottom: 2rem;
}

.logo {
  place-self: center;
  width: 100%;
  fill: var(--color-primary-400);
  transform: rotate(-8deg);
}

@media (min-width: 450px) {
  .logo-container {
    margin-bottom: 3rem;
  }
}

@media (min-width: 750px) {
  .logo-container {
    width: 80%;
  }
}
