.result-container {
  background-color: var(--color-neutral-700);
  border-radius: 10px;
  margin-bottom: 1rem;
  color: #fff;
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-header {
  font-size: 1rem;
}

@media (min-width: 450px) {
  .result-container {
    width: 90%;
  }
}

@media (min-width: 750px) {
  .result-container {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .result-container {
    width: 70%;
  }
}

@media (min-width: 1250px) {
  .result-container {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .result-container {
    width: 50%;
  }
}

@media (min-width: 1700px) {
  .result-container {
    width: 40%;
  }
}
