.result-container {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-light {
  color: var(--color-neutral-900);
  font-weight: 500;
}

.result-dark {
  color: var(--color-primary-100);
}

.result-header {
  padding: 0.5rem 0.2rem 0rem 0.2rem;
  font-size: 1rem;
  text-align: center;
}

.result-payment {
  margin-bottom: 1rem;
}

.result-details {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s, visibility 0.3s, padding 0.3s;
}

.result-details.visible {
  height: fit-content;
  max-height: 500px;
  visibility: visible;
  padding: 0.5rem 0 2rem 0;
}

.details-btn {
  transform: translateY(-50%);
  font-size: 0.85rem;
  font-weight: 600;
  justify-self: center;
  width: 40%;
  min-width: 120px;
  max-width: 160px;
  max-height: 35px;
  padding: 0.15rem 0.25rem;
  transition: border-color 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
}

.details-btn--light {
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-50);
  border: 2px solid var(--color-neutral-900);
}

.details-btn--dark {
  color: var(--color-neutral-900);
  background-color: var(--color-primary-300);
  border: 2px solid var(--color-neutral-900);
}

@media (hover: hover) {
  .details-btn--light:hover {
    color: var(--color-neutral-50);
    background-color: var(--color-primary-700);
    border-color: var(--color-primary-800);
  }

  .details-btn--dark:hover {
    background-color: var(--color-neutral-800);
    color: var(--color-primary-600);
    border-color: var(--color-primary-600);
  }
}

@media (min-width: 450px) {
  .result-container {
    width: 90%;
  }
}

@media (min-width: 750px) {
  .result-container {
    width: 80%;
  }

  .details-btn {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .result-container {
    width: 70%;
  }
  .details-btn {
    max-width: 200px;
    padding: 0.25rem 0.35rem;
  }
}

@media (min-width: 1250px) {
  .result-container {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .result-container {
    width: 50%;
    max-width: 700px;
  }
}
