.details-container {
  width: 95%;
  place-self: center;
  display: grid;
  place-items: center;
}

.border-light {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-dark {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.details {
  width: 100%;
  justify-self: center;
  list-style: none;
  display: grid;
  gap: 1rem;
}

.detail-values-container {
  grid-column: span 2;
}

.detail-values {
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-top: 0.5rem;
}

.detail-values--light {
  font-weight: 600;
  color: var(--color-neutral-900);
}

.detail-values--dark {
  font-weight: 500;
  color: var(--color-primary-200);
}

.detail-values > span {
  font-size: 0.8rem;
  font-style: italic;
}

@media (min-width: 500px) {
  .details {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-values--container {
    grid-column: span 2;
  }
}

@media (min-width: 1000px) {
  .details-container {
    width: 90%;
  }
}
