.result-container {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
}

.result-header {
  padding: 0.5rem 0.2rem 0rem 0.2rem;
  font-size: 0.9rem;
  text-align: center;
}

.result-header-small {
  font-size: 0.85rem;
  font-weight: var(--fw-700);
}
.result-payment {
  font-weight: var(--fw-500);
  text-align: center;
}
.result-payment-difference {
  color: var(--color-warning);
}
.result-payment-difference-plus {
  color: var(--color-success);
}
.no-results {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--color-warning);
  font-weight: var(--fw-700);
}

.result-details {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s, visibility 0.3s, padding 0.3s;
}

.result-details.visible {
  height: fit-content;
  max-height: 500px;
  visibility: visible;
  padding: 0.5rem 0 0.5rem 0;
}

.arrow {
  justify-self: center;
  stroke: var(--arrow-stroke-color);
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
}

.arrow:hover {
  background-color: var(--form-separator);
}

.arrow-down {
  animation: 2.5s moveArrowDown infinite forwards;
}

.arrow-up {
  animation: 2.5s moveArrowUp infinite forwards;
}

@keyframes moveArrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveArrowUp {
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(-6px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}

@media (min-width: 375px) {
  .result-header {
    font-size: 0.95rem;
  }

  .result-header-small {
    font-size: 0.75rem;
  }

  .no-results {
    font-size: 0.95rem;
  }
}

@media (min-width: 750px) {
  .result-header {
    font-size: 1rem;
  }
  .result-header-small {
    font-size: 0.8rem;
  }
  .details-btn {
    width: 100%;
  }

  .no-results {
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .details-btn {
    max-width: 200px;
    padding: 0.25rem 0.35rem;
  }
}
