.tooltip {
  font-size: 0.85rem;
  font-weight: var(--fw-600);
  justify-content: center;
  color: var(--tooltip-fcolor);
  background-color: var(--tooltip-bgcolor);
  border-radius: 5px;
  padding: 0.3rem 0.75rem;
  width: 100%;
  z-index: 10;
}
