@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
  font-family: 'Nunito', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-weight: 400;

  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f2f4f7;
  --color-neutral-150: #eaebf0;
  --color-neutral-200: #e4e7ec;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-500: #667085;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-700-rgb: 52, 64, 84;
  --color-neutral-800: #1d2939;
  --color-neutral-900: #101828;
  --color-neutral-1000: #0b1218;

  --color-primary-25: #fbfbff;
  --color-primary-50: #f6f6fe;
  --color-primary-100: #ececfd;
  --color-primary-200: #dedeff;
  --color-primary-300: #ccccfa;
  --color-primary-400: #b7b7ff;
  --color-primary-500: #a0a0f5;
  --color-primary-600: #8080f2;
  --color-primary-600-rgb: 160, 160, 245;
  --color-primary-700: #6358d4;
  --color-primary-800: #4b32c3;
  --color-primary-900: #341bab;

  --color-warning: #e24444;

  /* FONT WEIGHTS */

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

.light-theme {
  /* FONT */
  --font-color: var(--color-neutral-900);

  /* BACKGROUND */
  --bg-gradient: linear-gradient(
    to bottom,
    var(--color-neutral-150),
    var(--color-neutral-50)
  );

  /*NAV BAR*/
  --nav-bgcolor: var(--color-neutral-150);

  /* TITLE */
  --title-gradient: linear-gradient(
    to right,
    var(--color-neutral-700),
    var(--color-neutral-1000)
  );

  /* CARD */
  --card-bgcolor: var(--color-neutral-50);
  --card-shadow: rgba(0, 0, 0, 0.15);

  /* BUTTONS */
  --btn-primary-fcolor: var(--color-neutral-50);
  --btn-primary-bgcolor: var(--color-neutral-600);
  --btn-primary-border-color: var(--color-neutral-900);
  --btn-secondary-fcolor: var(--color-neutral-900);
  --btn-secondary-bgcolor: var(--color-neutral-50);
  --btn-secondary-border-color: var(--color-neutral-900);
  --btn-details-fcolor: var(--color-neutral-900);
  --btn-details-bgcolor: var(--color-neutral-50);
  --btn-details-border-color: var(--color-neutral-900);

  /* BUTTONS-HOVER */
  --btn-fcolor-hover: var(--color-neutral-50);
  --btn-bgcolor-hover: var(--color-primary-700);
  --btn-border-color-hover: var(--color-primary-800);

  /*  INPUTS */
  --input-bgcolor: var(--color-neutral-50);
  --input-border-color: var(--color-neutral-700);
  --input-border-color-focus: var(--color-primary-700);
  --inputsvg-info-fill: var(--color-primary-800);
  --tooltip-bgcolor: var(--color-neutral-600);
  --tooltip-fcolor: var(--color-neutral-50);

  /* OPTION */
  --month-option-bgcolor: var(--color-neutral-50);

  /* LOGO */
  --logo-fill-color: var(--color-neutral-900);

  /* FORM SEPARATOR */
  --form-separator: rgba(0, 0, 0, 0.1);
}

.dark-theme {
  /* FONT */
  --font-color: var(--color-primary-100);

  /* BACKGROUND */
  --bg-gradient: linear-gradient(
    to bottom,
    var(--color-neutral-1000),
    var(--color-neutral-800)
  );

  /*NAV BAR*/
  --nav-bgcolor: var(--color-neutral-1000);

  /* TITLE */
  --title-gradient: linear-gradient(
    to right,
    var(--color-primary-300),
    var(--color-primary-600)
  );

  /* CARD */
  --card-bgcolor: rgba(var(--color-neutral-700-rgb), 0.7);
  --card-shadow: rgba(0, 0, 0, 0.8);

  /* BUTTONS */
  --btn-primary-fcolor: var(--color-neutral-900);
  --btn-primary-bgcolor: var(--color-primary-100);
  --btn-primary-border-color: var(--color-neutral-900);
  --btn-secondary-fcolor: var(--color-primary-200);
  --btn-secondary-bgcolor: var(--color-neutral-800);
  --btn-secondary-border-color: var(--color-primary-200);
  --btn-details-fcolor: var(--color-neutral-900);
  --btn-details-bgcolor: var(--color-primary-100);
  --btn-details-border-color: var(--color-neutral-900);

  /* BUTTONS-HOVER */
  --btn-fcolor-hover: var(--color-primary-600);
  --btn-bgcolor-hover: var(--color-neutral-800);
  --btn-border-color-hover: var(--color-primary-600);

  /*  INPUTS */
  --input-bgcolor: var(--color-neutral-800);
  --input-border-color: var(--color-primary-200);
  --input-border-color-focus: var(--color-primary-600);
  --inputsvg-info-fill: var(--color-primary-400);
  --tooltip-bgcolor: var(--color-neutral-50);
  --tooltip-fcolor: var(--color-neutral-900);

  /* OPTION */
  --month-option-bgcolor: var(--color-neutral-900);

  /* LOGO */
  --logo-fill-color: var(--color-primary-400);

  /* FORM SEPARATOR */
  --form-separator: rgba(255, 255, 255, 0.15);
}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Removes arrows/spinners from input type number with CSS. */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: texfield;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Scroll-bar */

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary-400);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    var(--color-primary-900),
    var(--color-primary-800)
  );
  cursor: pointer;
}

/* Checks if browser supports the property --> Firefox */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--color-primary-800) var(--color-primary-400);
    scrollbar-width: thin;
  }
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
