.payment-wrapper {
  position: relative;
  place-self: center;
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 900px;
  padding-block: 4rem;
  margin-top: 6rem;
  background-color: var(--card-secondary-bgcolor);
  border-radius: 70px 10px 70px 10px;
}

.payment-wrapper::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 30% 70% 70% 30% / 63% 47% 53% 37%;
  background: var(--circle1-bgcolor);
  top: -25px;
  right: 0;
}

.payment-wrapper::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 30% 70% 70% 30% / 63% 47% 53% 37%;
  background: var(--circle2-bgcolor);
  bottom: -25px;
  left: 0;
}

.payment-section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
}

.payment-section__header {
  text-align: center;
  align-self: center;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: var(--fw-700);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.payment-section__header:nth-child(3) {
  margin-top: 3rem;
}

.payment-container {
  width: 100%;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  column-gap: 0.75rem;
}

.payment-container__card {
  width: 100%;
  min-width: 150px;
}

.increase-month {
  font-size: 1rem;
  font-weight: var(--fw-600);
  color: var(--font-color);
  text-align: center;
  letter-spacing: 1.2px;
  padding: 0.5rem 0;
  width: 70%;
  justify-self: center;
  border-bottom: 1px solid var(--form-separator);
}

.values-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0rem;
}
.values {
  text-align: center;
  color: var(--font-color);
}

.values h4 {
  font-weight: var(--fw-500);
  font-size: 0.95rem;
}

.values h5 {
  font-weight: var(--fw-500);
  font-size: 0.95rem;
}

.values p {
  font-size: 1rem;
  font-weight: var(--fw-300);
}

@media (min-width: 335px) {
  .payment-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media (min-width: 450px) {
  .payment-wrapper {
    border-radius: 100px 20px 100px 20px;
  }
}

@media (min-width: 750px) {
  .payment-wrapper {
    margin-top: 8rem;
  }

  .payment-wrapper::before {
    width: 100px;
    height: 100px;
    top: -50px;
  }

  .payment-wrapper::after {
    width: 100px;
    height: 100px;
    bottom: -50px;
  }

  .values-container {
    gap: 1rem;
  }

  .increase-month {
    font-size: 1.2rem;
  }

  .values h4 {
    font-size: 1.05rem;
  }

  .values h5 {
    font-size: 1.05rem;
  }

  .values p {
    font-size: 1.05rem;
  }
}

@media (min-width: 1000px) {
  .payment-section__header {
    font-size: 1.4rem;
  }

  .payment-wrapper::before {
    top: -40px;
    right: -25px;
  }

  .payment-wrapper::after {
    bottom: -50px;
    left: -25px;
  }
}

@media (min-width: 1250px) {
  .payment-wrapper::before {
    right: -40px;
  }

  .payment-wrapper::after {
    left: -40px;
  }
}
